@import 'https://fonts.googleapis.com/css?family=Montserrat:200, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    background: radial-gradient(#161618, #000000);
    color: #FADA5E;
    font-size: 10px;
    font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    gap: 20px;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#logo {
    width: 120px;
}


/* BACKGROUND ANIMATION */

/* #canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#161618, #000000);
} */